<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= profile.name %></h1>
        <div style="width: 30%; margin: 50px auto;">
            <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST">
                
                <div class="form-group">
                    <input id="form-name" type="text" name="profile[name]" value="<%= profile.name %>">
                </div>
    
                <div class="form-group">
                    <input class="birth" type="number" name="profile[day]" value="<%= profile.day %>">
                </div>

                <div class="form-group">
                    <input class="birth" type="number" name="profile[month]" value="<%= profile.month %>">
                </div>

                <div class="form-group">
                    <input class="birth" type="number" name="profile[year]" value="<%= profile.year %>">
                </div>

                <div class="form-group">
                    <input class="birth" type="datetime" name="profile[time]" value="<%= profile.time %>">
                </div>

                <div class="form-group">
                    <input id="form-place" type="text" name="profile[place]" value="<%= profile.place %>">
                </div>

                <div class="form-group">
                    <input id="form-image" type="text" name="profile[image]" value="<%= profile.image %>">
                </div>

                <div class="form-group">
                    <input id="form-description" type="text" name="profle[description]" value="<%= profile.description %>">
                </div>
                
                <div class="form-group">
                     <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>               
            </form>
            <a href= "/profiles">Go back</a>
        </div>
        
    </div>
</div>

<% include ../partials/footer %>

